/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --bg-gradient:
    repeating-linear-gradient(
      90deg,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      180deg,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  --family-press: "PressStart2P", fantasy;
  --family-inter: "Inter-Variable", sans-serif;
  --inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --header-block-size: clamp(20.4375rem, 19.5352rem + 3.8498vw, 23rem);
  --border-content: 2px solid #000;
  --animation-fill-color: rgba(255, 0, 0, 1);
  --contour-color: rgba(0, 0, 0, 1);
  --main-color: #fff;
  --accent-color: rgba(0, 0, 0, 1);
  --basic-weight: 410;
  --bold-weight: 715;
}
